/*Estilos para el "header"*/


/*Aplica al/a los navegadores alojados en "header"*/
.header-nav{
    /*Aplica/Muestra los elementos "flex"*/
    display: flex;
    /*Añade un ancho*/
    width: 100%;
    /*Añade un altura*/
    height: 100%;
    /*Añade un margen a los lados*/
    margin: 8px auto;
    /*Centra los navegadores*/
    align-items: center;
    /*Ancho máximo*/
    max-width: 1140px;
    /*Espacio justificado*/
    justify-content: space-between;
    /*Tipografía*/
    font-family: "Montserrat", "sans-serif";
}
/*Aplica a "titulo"*/
.titulo{
    /*Color de texto*/
    color: #928f83;
    /*Texto en mayúscula*/
    text-transform: uppercase;
    /*Texto sin decoración*/
    text-decoration: none;
    /*Tamaño texto*/
    font-size: 20px;
    /*Tamaño texto*/
    font-weight: 400;
    /*Tamaño de entre línea*/
    line-height: 1;
}
/*Aplica a "menu"*/
.menu{
    /*Aplica/Muestra los elementos "flex"*/
    display: flex;
    /*Texto ajustado al final de la celda*/
    justify-self: end;
    /*Quita estilo predeterminado enlaces*/
    list-style-type: none;
    /*Espacio entre celdas*/
    gap: 15px;
}
/*Aplica a "opcion"*/
.opcion{
    /*Texto sin decoración*/
    text-decoration: none;
    /*Color de texto*/
    color: #928d7f;
    /*Tamaño texto*/
    font-size: 14px;
    /*Añade un relleno*/
    padding: 5px;
    /*Tamaño de entre línea*/
    line-height: 1.4;

}
/*Aplica animación al pasar el cursor por encima del contenido de "titulo"*/
.titulo:hover{
    /*Color*/
    color: #ded6c9;
}
/*Aplica animación al pasar el cursor por encima del contenido de "opcion"*/
.opcion:hover{
    /*Color*/
    color: #ded6c9;
}
/*Aplica animación al pasar el cursor por encima del contenido de "boton"*/
.boton:hover{
    /*Color*/
    color: #3a6286;
    border: 1px solid #56a8ff;
}
/*Aplica a "boton"*/
.boton{
    /*Texto sin decoración*/
    text-decoration: none;
    /*Color de texto*/
    color: #236c99;
    /*Tamaño texto*/
    font-size: 14px;
    /*Añade un relleno*/
    padding: 2px 10px;
    /*Añade un borde*/
    border: 1px solid #236c99;
    /*Añade un borde redondeado*/
    border-radius: 25px;
    /*Tamaño de entre línea*/
    line-height: 1.4;
}